// src/components/SkillsSection/SkillCategoryCard.module.scss
@use "../../styles/variables.scss" as var;

.skillCategoryCard {
  background-color: var.$section-color;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05),
            0 0 8px 1px rgba(var.$glow-color, 0.2),
            0 0 15px 2px rgba(var.$glow-color, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05),
                0 0 12px 2px rgba(var.$glow-color, 0.4),
                0 0 25px 5px rgba(var.$glow-color, 0.2);
  }
}

.content {
  padding: var.$spacing-6;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.categoryTitle {
  font-size: 1.25rem; // text-xl
  font-weight: bold; // font-bold
  margin-bottom: var.$spacing-4; // mb-4
  color: #03DAC6;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var.$spacing-2;
  margin-top: var.$spacing-2; // Add some top margin
}

.skillTag {
  background-color: var.$background-color;
  color: var.$text-color;
  font-size: 0.75rem; // text-xs
  font-weight: 500; // font-medium
  padding: 0.25rem var.$spacing-2_5;
  border-radius: 9999px; // rounded-full
}
