// src/components/ParallaxTitle/ParallaxTitle.module.scss
@use "../../styles/variables.scss" as var;

.parallaxContainer {
  overflow: hidden; // overflow-hidden
}

.parallaxTitle {
  font-size: 2.25rem; // text-4xl
  font-weight: bold; // font-bold
  text-align: center; // text-center
  margin-bottom: var.$spacing-12; // mb-12 (assuming $spacing-12 is 3rem or 48px)
}