// src/components/AboutSection/QnaBlock.module.scss
@import "../../styles/variables.scss";

.qnaBlock {
  margin-bottom: $spacing-4; // Example spacing
  
  &:last-child {
    margin-bottom: 0;
  }
}

.question {
  font-weight: bold;
  color: $accent-color; // 변경: $sub-color -> $accent-color
  margin-bottom: $spacing-2;
}

.answer {
  color: $text-color; // 변경: $point-color -> $text-color
}