// src/components/AboutSection/QnaBlock.module.scss
@use "../../styles/variables.scss" as var;

.qnaBlock {
  margin-bottom: var.$spacing-4; // Example spacing
  
  &:last-child {
    margin-bottom: 0;
  }
}

.question {
  font-weight: bold;
  color: var.$accent-color; // 변경: $sub-color -> $accent-color
  margin-bottom: var.$spacing-2;
}

.answer {
  color: var.$text-color; // 변경: $point-color -> $text-color
}